main.galleries {
   gap: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}

/* ===== Header style start ===== */
main.galleries .header {
   width: 100%;
   display: flex;
   justify-content: start;
   color: var(--white);
   padding: var(--px-8) 0;
}
main.galleries .header h1 {
   font-size: var(--fs-7);
   font-weight: 600;
}
/* ===== Header style end ===== */

/* ===== Navigation style start ===== */
main.galleries .navigation {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: var(--px-16) 0;
   border-bottom: 1px solid var(--gray-100);
}
main.galleries .navigation .button {
   display: flex;
   justify-content: space-between;
   gap: var(--px-8);
}
main.galleries .navigation .button .btn {
   height: fit-content;
   padding: var(--px-8) var(--px-24);
   font-size: var(--fs-1);
   font-weight: 600;
   border-radius: 32px;
   color: var(--white);
   cursor: pointer;
   transition: 0.3s ease;
}
main.galleries .navigation .button .btn:nth-child(1) {
   background-color: var(--btn-save);
}
main.galleries .navigation .button .btn:nth-child(2) {
   background-color: var(--btn-neutral);
}
main.galleries .navigation .button .btn:nth-child(3) {
   background-color: var(--btn-danger);
}
main.galleries .navigation .button .btn:nth-child(1):hover,
main.galleries .navigation .button .btn:nth-child(2):hover,
main.galleries .navigation .button .btn:nth-child(3):hover {
   background-color: var(--gray-200);
}
main.galleries .navigation .button .btn.disable {
   background-color: var(--gray-200);
}

main.galleries .navigation .alert {
   max-width: 30%;
   width: fit-content;
   text-align: center;
   height: 100%;
}

main.galleries .navigation .alert.success {
   font-size: var(--fs-3);
   color: var(--btn-save);
}
main.galleries .navigation .alert.error {
   font-size: var(--fs-1);
   color: var(--btn-danger);
}

main.galleries .navigation .search {
   width: 25%;
   height: var(--px-40);
   display: flex;
   justify-content: end;
   align-items: center;
}
main.galleries .navigation .search input {
   border-radius: var(--px-8);
   width: 100%;
   height: 100%;
   padding: var(--px-8) var(--px-16);
   font-size: var(--fs-1);
}
main.galleries .navigation .search select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   border-radius: var(--px-8);
   width: 20%;
   height: 100%;
   padding: var(--px-8) var(--px-16);
   font-size: var(--fs-1);
   text-align: center;
}

main.galleries .navigation .button .btn.button-back {
   white-space: nowrap;
   background-color: var(--gray-500);
}
/* ===== Navigation style end ===== */

/* ===== Content style start ===== */
main.galleries .content {
   min-height: 30vw;
   padding: var(--px-32);
   display: flex;
   flex-direction: row;
   justify-content: center;
   overflow: auto;
}

main.galleries .content .gallery-grid {
   width: 100%;
   column-count: 3;
   column-gap: var(--px-24);
}

main.galleries .content .gallery-grid .gallery-item {
   break-inside: avoid;
   margin-bottom: var(--px-24);
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   position: relative;
}

main.galleries .content .gallery-grid .gallery-item input {
   width: var(--px-16);
   height: var(--px-16);
   position: absolute;
   top: var(--px-8);
   left: var(--px-8);
   cursor: pointer;
   z-index: 100;
}

main.galleries .content .gallery-grid .gallery-item img {
   width: 100%;
   height: fit-content;
   display: block;
   object-fit: cover;
   cursor: pointer;
   transition: 0.3s linear;
}
main.galleries .content .gallery-grid .gallery-item img:hover {
   transform: scale(1.15);
}
/* ===== Content style end ===== */

/* ===== Pagination style start ===== */
main.galleries .pagination {
   width: 100%;
   height: var(--px-64);
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid var(--gray-200);
   border-bottom: 1px solid var(--gray-200);
}

main.galleries .pagination .left-section {
   display: flex;
   gap: var(--px-16);
}
main.galleries .pagination .left-section button {
   font-size: var(--fs-2);
   padding: var(--px-8) var(--px-40);
   border-radius: 8px;
   background-color: var(--gray-100);
   box-shadow: 1px 1px 1px var(--gray-200);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
main.galleries .pagination .left-section button:hover,
main.galleries .pagination .right-section button:hover {
   background-color: var(--gray-200);
}

main.galleries .pagination .right-section {
   display: flex;
   gap: 0.2vw;
}
main.galleries .pagination .right-section button {
   aspect-ratio: 1/1;
   width: var(--px-40);
   font-size: var(--fs-2);
   padding: var(--px-8);
   border-radius: 4px;
   background-color: var(--gray-100);
   box-shadow: 1px 1px 1px var(--gray-200);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
main.galleries .pagination .right-section button.active {
   background-color: var(--primary);
   color: var(--white);
}
/* ===== Pagination style end ===== */

/* ===== Create content style start ===== */
main.galleries .name-space,
main.galleries .content-add,
main.galleries .content-add .form-container,
main.galleries .content-add .top-section,
main.galleries .content-add .top-section .left-section .input-image,
main.galleries .content-add .top-section .left-section,
main.galleries .content-add .top-section .right-section,
main.galleries .content-add .bottom-section {
   display: flex;
   justify-content: center;
   align-items: center;
}

main.galleries .name-space {
   height: var(--px-56);
   font-size: var(--fs-4);
   font-weight: 500;
   color: var(--gray-100);
}

main.galleries .kolom-6 .btn {
   height: fit-content;
   padding: 0 var(--px-16);
   font-size: var(--fs-1);
   line-height: 2;
   font-weight: 600;
   border-radius: 32px;
   color: var(--white);
   cursor: pointer;
   transition: 0.3s ease;
}
main.galleries .kolom-6 .btn:hover {
   opacity: 0.8;
   transform: scale(1.1);
}
main.galleries .kolom-6 .btn:nth-child(1) {
   background-color: var(--btn-neutral);
}
main.galleries .kolom-6 .btn:nth-child(2) {
   background-color: var(--btn-info);
}

main.galleries .content-add {
   width: 100%;
   min-height: 36vw;
   align-items: flex-start;
}
main.galleries .content-add .form-container {
   width: 64vw;
   height: fit-content;
   flex-direction: column;
   gap: var(--px-16);
   box-shadow: 1px 1px 3px var(--primary);
   background-color: var(--gray-100);
   border-radius: 12px;
   padding: var(--px-16) var(--px-12);
   margin: var(--px-16) 0;
}

main.galleries .content-add .top-section {
   width: 100%;
   height: 100%;
   gap: var(--px-8);
   align-items: start;
}
main.galleries .content-add .top-section .left-section {
   width: 28%;
   height: 100%;
   flex-direction: column;
   gap: var(--px-8);
   overflow: hidden;
}
main.galleries .content-add .top-section .left-section img {
   width: 100%;
   height: 100%;
   max-height: var(--px-192);
   object-fit: cover;
   display: block;
}
main.galleries .content-add .top-section .left-section .input-image {
   aspect-ratio: 16/9;
   width: 100%;
   flex-direction: column-reverse;
   gap: var(--px-8);
   flex: 1;
   background-color: var(--secondary);
   border-radius: 4px;
   color: var(--white);
   font-size: var(--fs-2);
   font-weight: 600;
   cursor: pointer;
   transition: 0.3s ease;
}
main.galleries .content-add .top-section .left-section .input-image:hover {
   opacity: 0.9;
}
main.galleries .content-add .top-section .left-section .input-image img {
   width: 100%;
   max-height: 100%;
   object-position: top;
   object-fit: contain;
   background-color: var(--gray-100);
}
main.galleries
   .content-add
   .top-section
   .left-section
   .input-image
   .icon-style {
   width: var(--px-48);
   height: var(--px-48);
}
main.galleries .content-add .top-section .left-section input[type="file"] {
   display: none;
}
main.galleries .content-add .top-section .right-section {
   width: 72%;
   flex-direction: column;
   gap: var(--px-8);
}
main.galleries .content-add .top-section .right-section input {
   width: 100%;
   border: 1px solid var(--primary);
   border-radius: 5px;
   padding: var(--px-8) var(--px-16);
   background-color: var(--white);
   color: var(--gray-500);
   font-size: var(--fs-3);
}
main.galleries .content-add .top-section .right-section .category {
   width: 100%;
   flex: 1;
   display: flex;
   justify-content: flex-start;
   gap: var(--px-8);
}
main.galleries .content-add .top-section .right-section .category button {
   padding: var(--px-8) var(--px-16);
   box-shadow: 1px 1px 4px var(--gray-200);
   cursor: pointer;
   border-radius: 4px;
   font-size: var(--fs-3);
   font-weight: 500;
   color: var(--primary);
   transition: 0.3s linear;
}
main.galleries .content-add .top-section .right-section .category button:hover {
   background-color: var(--primary);
   color: var(--white);
}

main.galleries .content-add .bottom-section {
   width: 100%;
}
main.galleries .content-add .bottom-section button {
   width: 100%;
   padding: var(--px-8);
   border-radius: 4px;
   background-color: var(--btn-save);
   border: 1px solid var(--gray-100);
   cursor: pointer;
   color: var(--white);
   font-size: var(--fs-3);
   font-weight: 600;
   transition: 0.3s linear;
}
main.galleries .content-add .bottom-section button:hover {
   background-color: var(--primary);
   box-shadow: 1px 1px 2px var(--gray-200);
}
/* ===== Create-content style end ===== */

/* ===== image-modal style start ===== */
main.galleries .modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
}

main.galleries .modal-overlay .modal-content {
   position: relative;
   background-color: var(--gray-100);
   padding: var(--px-8);
   border-radius: 8px;
   max-width: 90%;
   max-height: 90%;
   overflow: auto;
   box-shadow: 0 4px 12px var(--gray-200);
}

main.galleries .modal-overlay .modal-content .modal-image {
   max-width: 100%;
   max-height: 80vh;
}

main.galleries .modal-overlay .modal-content .close-button {
   position: absolute;
   top: var(--px-8);
   right: var(--px-16);
   background: transparent;
   border: none;
   font-size: var(--fs-7);
   cursor: pointer;
   color: var(--gray-300);
}

main.galleries .modal-overlay .modal-content .close-button:hover {
   color: var(--gray-700);
}
/* ===== image-modal style end ===== */

/* ===== Confirm modal style start ===== */
main.galleries .confirm-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

main.galleries .confirm-box {
   background: var(--white);
   padding: var(--px-24);
   border-radius: var(--px-8);
   max-width: var(--px-320);
   box-shadow: 0 2px 1px var(--gray-100);
   text-align: center;
   font-size: var(--fs-2);
}

main.galleries .confirm-buttons {
   margin-top: var(--px-24);
   display: flex;
   justify-content: center;
   gap: var(--px-32);
}

main.galleries .confirm-buttons button {
   padding: var(--px-8) var(--px-16);
   cursor: pointer;
   border: none;
   border-radius: 4px;
   color: var(--white);
   transition: 0.2s ease;
   font-size: var(--fs-2);
}
main.galleries .confirm-buttons button.yes {
   background-color: var(--btn-danger);
}
main.galleries .confirm-buttons button.no {
   background-color: var(--btn-info);
}
main.galleries .confirm-buttons button:hover {
   background-color: var(--gray-200);
}
/* ===== Confirm modal style end ===== */
