main.members {
   gap: 0;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   position: relative;
}

/* ===== Header style start ===== */
main.members .header {
   width: 100%;
   display: flex;
   justify-content: start;
   color: var(--white);
   padding: var(--px-8) 0;
}
main.members .header h1 {
   font-size: var(--fs-7);
   font-weight: 600;
}
/* ===== Header style end ===== */

/* ===== Navigation style start ===== */
main.members .navigation {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding: var(--px-16) 0;
   border-bottom: 1px solid var(--gray-100);
}
main.members .navigation .button {
   display: flex;
   justify-content: space-between;
   gap: var(--px-8);
}
main.members .navigation .button button {
   height: fit-content;
   padding: var(--px-8) var(--px-24);
   font-size: var(--fs-1);
   font-weight: 600;
   border-radius: 32px;
   color: var(--white);
   cursor: pointer;
}
main.members .navigation .button button:nth-child(1) {
   background-color: var(--btn-save);
}
main.members .navigation .button button:nth-child(2) {
   background-color: var(--btn-info);
}
main.members .navigation .button button:nth-child(3) {
   background-color: var(--btn-danger);
}
main.members .navigation .button button:nth-child(1):hover,
main.members .navigation .button button:nth-child(2):hover,
main.members .navigation .button button:nth-child(3):hover {
   background-color: var(--gray-200);
}
main.members .navigation .button button.disable {
   background-color: var(--gray-200);
}

main.members .navigation .button button.button-back {
   white-space: nowrap;
   background-color: var(--gray-500);
}

main.members .navigation .alert {
   max-width: 30%;
   width: fit-content;
   text-align: center;
   height: 100%;
}

main.members .navigation .alert.success {
   font-size: var(--fs-3);
   color: var(--btn-save);
}
main.members .navigation .alert.error {
   font-size: var(--fs-1);
   color: var(--btn-danger);
}

main.members .navigation .search {
   width: 25%;
   height: var(--px-40);
   display: flex;
   justify-content: end;
   align-items: center;
}
main.members .navigation .search input {
   border-radius: var(--px-8);
   width: 100%;
   height: 100%;
   padding: var(--px-8) var(--px-16);
   font-size: var(--fs-1);
}
/* ===== Navigation style end ===== */

/* ===== Content style start ===== */
main.members .content {
   flex: 1;
   width: 100%;
   max-width: 73.5vw;
   min-height: 33vw;
   overflow: auto;
}
main.members .content table {
   width: 100vw;
   table-layout: fixed;
   text-align: center;
   border-collapse: collapse;
}
main.members .content table * {
   user-select: text;
}
main.members .content table tbody tr {
   height: var(--px-40);
}
main.members .content table tbody:not(.edit) tr:not(:first-child):hover {
   background-color: var(--gray-100);
}

main.members .content table th {
   height: 3.25vw;
   padding: var(--px-8);
   font-size: var(--fs-2);
   font-weight: 500;
   color: var(--white);
}
main.members .content table td {
   font-size: var(--fs-1);
   border-bottom: 1px solid var(--secondary);
   color: var(--gray-500);
   overflow: hidden;
}
main.members .content table td input[type="text"],
main.members .content table td input[type="email"] {
   padding: 0.2vw var(--px-8);
   background-color: var(--gray-100);
   border: 1px solid var(--secondary);
   border-radius: 4px;
   box-sizing: border-box;
}
main.members .content table td h1 {
   font-size: var(--fs-1);
}

main.members .content table th:nth-child(1),
main.members .content table td:nth-child(1) {
   width: 25%;
}
main.members .content table th:nth-child(2),
main.members .content table td:nth-child(2) {
   width: 10%;
}
main.members .content table th:nth-child(3),
main.members .content table td:nth-child(3) {
   width: 12%;
}
main.members .content table th:nth-child(4),
main.members .content table td:nth-child(4) {
   width: 15%;
}
main.members .content table th:nth-child(5),
main.members .content table td:nth-child(5) {
   width: 8%;
}
main.members .content table th:nth-child(6),
main.members .content table td:nth-child(6) {
   width: 20%;
}
main.members .content table th:nth-child(7),
main.members .content table td:nth-child(7) {
   width: 10%;
}

main.members .content table .kolom-1 {
   display: flex;
   gap: var(--px-8);
}
main.members .content table .kolom-1 h1,
main.members .content table td:nth-child(4) h1 {
   font-weight: 500;
}
main.members .content table td:nth-child(4) img {
   width: var(--px-24);
}
main.members .content table .kolom-4 {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

main.members .content table td:nth-child(1) input[type="text"],
main.members .content table td:nth-child(2) input[type="text"],
main.members .content table td:nth-child(3) input[type="text"],
main.members .content table td:nth-child(6) input[type="email"],
main.members .content table td:nth-child(7) input[type="text"] {
   font-size: var(--fs-1);
   width: 80%;
}
main.members .content table td:nth-child(4) select,
main.members .content table td:nth-child(5) select {
   width: fit-content;
   height: var(--px-32);
   font-size: var(--fs-1);
   background-color: var(--gray-100);
   border: 1px solid var(--secondary);
   cursor: pointer;
}

main.members .content table tr.add td {
   height: var(--px-56);
}
main.members .content table tr.add td:nth-child(1) input[type="text"],
main.members .content table tr.add td:nth-child(2) input[type="text"],
main.members .content table tr.add td:nth-child(3) input[type="text"],
main.members .content table tr.add td:nth-child(6) input[type="email"] {
   font-size: var(--fs-0);
   width: 90%;
   height: var(--px-32);
   font-size: var(--fs-1);
}
main.members .content table tr.add td:nth-child(1) input[type="text"] {
   display: flex;
}
main.members .content table tr.add td:nth-child(7) input[type="text"] {
   width: 99%;
   height: var(--px-32);
   font-size: var(--fs-1);
}
/* ===== Content style end ===== */

/* ===== Footer style start ===== */
main.members .pagination {
   width: 100%;
   height: var(--px-64);
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid var(--gray-200);
   border-bottom: 1px solid var(--gray-200);
}

main.members .pagination .left-section {
   display: flex;
   gap: var(--px-16);
}
main.members .pagination .left-section button {
   font-size: var(--fs-2);
   padding: var(--px-8) var(--px-40);
   border-radius: 8px;
   background-color: var(--gray-100);
   box-shadow: 1px 1px 1px var(--gray-200);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
main.members .pagination .left-section button:hover,
main.members .pagination .right-section button:hover {
   background-color: var(--gray-200);
}

main.members .pagination .middle-section {
   display: flex;
   gap: var(--px-8);
   align-items: center;
   color: var(--gray-500);
}
main.members .pagination .middle-section h1 {
   font-size: var(--fs-3);
   font-weight: 500;
}
main.members .pagination .middle-section .icon-style {
   width: var(--px-24);
   height: var(--px-24);
   transition: 0.3s ease-in-out;
   cursor: pointer;
}
main.members .pagination .middle-section .icon-style:hover {
   transform: scale(1.25);
}

main.members .pagination .right-section {
   display: flex;
   gap: 0.2vw;
}
main.members .pagination .right-section button {
   aspect-ratio: 1/1;
   width: var(--px-40);
   font-size: var(--fs-2);
   padding: var(--px-8);
   border-radius: 4px;
   background-color: var(--gray-100);
   box-shadow: 1px 1px 1px var(--gray-200);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
main.members .pagination .right-section button.active {
   background-color: var(--primary);
   color: var(--white);
}
/* ===== Footer style end ===== */

/* ===== Confirm modal style start ===== */
main.members .confirm-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

main.members .confirm-box {
   background: var(--white);
   padding: var(--px-24);
   border-radius: var(--px-8);
   max-width: var(--px-320);
   box-shadow: 0 2px 1px var(--gray-100);
   text-align: center;
   font-size: var(--fs-2);
}

main.members .confirm-buttons {
   margin-top: var(--px-24);
   display: flex;
   justify-content: center;
   gap: var(--px-32);
}

main.members .confirm-buttons button {
   padding: var(--px-8) var(--px-16);
   cursor: pointer;
   border: none;
   border-radius: 4px;
   color: var(--white);
   transition: 0.2s ease;
   font-size: var(--fs-2);
}
main.members .confirm-buttons button.yes {
   background-color: var(--btn-danger);
}
main.members .confirm-buttons button.no {
   background-color: var(--btn-info);
}
main.members .confirm-buttons button:hover {
   background-color: var(--gray-200);
}
/* ===== Confirm modal style end ===== */
