main.registrants {
   gap: 0;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}

/* ===== Header style start ===== */
main.registrants .header {
   width: 100%;
   display: flex;
   justify-content: start;
   color: var(--white);
   padding: var(--px-8) 0;
}
main.registrants .header h1 {
   font-size: var(--fs-7);
   font-weight: 600;
}
/* ===== Header style end ===== */

/* ===== Navigation style start ===== */
main.registrants .navigation {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: var(--px-16) 0;
   border-bottom: 1px solid var(--gray-100);
}
main.registrants .navigation .button {
   width: 25%;
   display: flex;
   justify-content: space-between;
   gap: var(--px-8);
   white-space: nowrap;
}
main.registrants .navigation .button button {
   height: fit-content;
   padding: var(--px-8) var(--px-24);
   font-size: var(--fs-1);
   font-weight: 600;
   border-radius: 32px;
   color: var(--white);
   cursor: pointer;
}
main.registrants .navigation .button button:nth-child(1) {
   background-color: var(--btn-save);
}
main.registrants .navigation .button button.btn-open {
   background-color: var(--btn-info);
}
main.registrants .navigation .button button.btn-close {
   background-color: var(--btn-danger);
}

main.registrants .navigation .button button:nth-child(1):hover,
main.registrants .navigation .button button:nth-child(2):hover,
main.registrants .navigation .button button:nth-child(3):hover {
   background-color: var(--gray-200);
}
main.registrants .navigation .button button.disable {
   background-color: var(--gray-200);
}

main.registrants .navigation .button button.button-back {
   white-space: nowrap;
   background-color: var(--gray-500);
}

main.registrants .navigation .clock-with-date {
   display: flex;
   gap: var(--px-8);
   align-items: center;
   font-size: var(--fs-3);
   font-weight: 500;
   font-family: monospace;
   color: var(--gray-100);
   text-wrap: nowrap;
}

main.registrants .navigation.divider {
   color: var(--gray-700);
}

main.registrants .navigation .search {
   width: 25%;
   height: var(--px-40);
   display: flex;
   justify-content: end;
   align-items: center;
}
main.registrants .navigation .search input {
   border-radius: var(--px-8);
   width: 100%;
   height: 100%;
   padding: var(--px-8) var(--px-16);
   font-size: var(--fs-1);
}
/* ===== Navigation style end ===== */

/* ===== Content style start ===== */
main.registrants .name-space {
   display: flex;
   justify-content: center;
   align-items: center;
   height: var(--px-56);
   font-size: var(--fs-4);
   font-weight: 500;
   color: var(--gray-100);
}

main.registrants .content {
   width: 100%;
   min-height: 30vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   gap: var(--px-32);
   padding: var(--px-24) 0;
}
main.registrants .content h1 {
   font-size: var(--fs-7);
   font-weight: 700;
   color: var(--gray-700);
}

main.registrants .content .card {
   min-width: 30%;
   max-width: 30%;
   box-sizing: border-box;
   box-shadow: 1px 1px 4px var(--gray-200);
   border-radius: var(--px-16);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   overflow: hidden;
}
main.registrants .content .card .header,
main.registrants .content .card .profile,
main.registrants .content .card .contact,
main.registrants .content .card .project,
main.registrants .content .card .footer,
main.registrants .content .card .footer .reject,
main.registrants .content .card .footer .accept {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

main.registrants .content .card .header {
   width: 100%;
   background-color: var(--gray-400);
   padding: var(--px-12);
   font-size: var(--fs-4);
   font-weight: 500;
   gap: var(--px-12);
}
main.registrants .content .card .header img {
   width: 10%;
   height: 10%;
   border-radius: 100px;
}

main.registrants .content .card .profile {
   width: 96%;
   flex-direction: column;
   align-items: flex-start;
   padding: var(--px-8) var(--px-8);
   color: var(--gray-700);
   line-height: 1.2;
   border-bottom: 1px solid var(--gray-200);
}
main.registrants .content .card .profile h1 {
   white-space: nowrap;
   font-size: var(--fs-1);
   font-weight: 500;
}
main.registrants .content .card .profile h2 {
   font-size: var(--fs-1);
   font-weight: 600;
}

main.registrants .content .card .contact {
   width: 96%;
   flex-direction: column;
   align-items: flex-start;
   padding: var(--px-8);
   border-bottom: 1px solid var(--gray-200);
}
main.registrants .content .card .contact h1 {
   justify-content: flex-start;
   font-size: var(--fs-1);
   color: var(--gray-500);
   font-weight: 500;
}
main.registrants .content .card .contact h1 span {
   color: var(--gray-700);
   font-weight: 700;
}

main.registrants .content .card .project {
   width: 96%;
   flex-direction: column;
   align-items: flex-start;
   padding: var(--px-8);
   padding-bottom: var(--px-16);
   border-bottom: 1px solid var(--gray-200);
}
main.registrants .content .card .project h1 {
   font-size: var(--fs-1);
   color: var(--gray-700);
   font-weight: 700;
}
main.registrants .content .card .project h2 {
   padding-left: var(--px-8);
   font-size: var(--fs-1);
   padding: 0.2vw var(--px-12);
   color: var(--gray-400);
   font-weight: var(--600);
}
main.registrants .content .card .project .project-container {
   display: flex;
   gap: var(--px-8);
}
main.registrants .content .card .project .project-container a {
   font-size: var(--fs-1);
   padding: 0.2vw var(--px-12);
   background-color: var(--primary);
   color: var(--white);
   border-radius: 4px;
   cursor: pointer;
}

main.registrants .content .card .footer {
   width: 100%;
   padding: var(--px-8);
   padding-top: var(--px-16);
   gap: var(--px-8);
}
main.registrants .content .card .footer button {
   border-radius: var(--px-8);
   transition: 0.3s linear;
}
main.registrants .content .card .footer .reject {
   aspect-ratio: 1/1;
   width: auto;
   height: var(--px-32);
   cursor: pointer;
   font-weight: 900;
   color: var(--gray-100);
   background-color: var(--btn-danger);
}
main.registrants .content .card .footer .reject:hover {
   transform: scale(1.1);
   background-color: var(--white);
   color: var(--btn-danger);
   box-shadow: 1px 1px 2px var(--btn-danger);
}
main.registrants .content .card .footer .accept {
   flex: 1;
   height: var(--px-32);
   cursor: pointer;
   font-size: var(--fs-2);
   font-weight: 700;
   gap: var(--px-8);
   background-color: var(--btn-save);
   color: var(--white);
}
main.registrants .content .card .footer .accept:hover {
   background-color: var(--gray-200);
   color: var(--gray-500);
}
/* ===== Content style end ===== */

/* ===== Footer style start ===== */
main.registrants .pagination {
   width: 100%;
   height: var(--px-64);
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid var(--gray-200);
   border-bottom: 1px solid var(--gray-200);
}

main.registrants .pagination .left-section {
   display: flex;
   gap: var(--px-16);
}
main.registrants .pagination .left-section button {
   font-size: var(--fs-2);
   padding: var(--px-8) var(--px-40);
   border-radius: 8px;
   background-color: var(--gray-100);
   box-shadow: 1px 1px 1px var(--gray-200);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
main.registrants .pagination .left-section button:hover,
main.registrants .pagination .right-section button:hover {
   background-color: var(--gray-200);
}

main.registrants .pagination .middle-section {
   display: flex;
   gap: var(--px-8);
   align-items: center;
   color: var(--gray-500);
}
main.registrants .pagination .middle-section h1 {
   font-size: var(--fs-3);
   font-weight: 500;
}
main.registrants .pagination .middle-section .icon-style {
   width: var(--px-24);
   height: var(--px-24);
   transition: 0.3s ease-in-out;
   cursor: pointer;
}
main.registrants .pagination .middle-section .icon-style:hover {
   transform: scale(1.25);
}

main.registrants .pagination .right-section {
   display: flex;
   gap: 0.2vw;
}
main.registrants .pagination .right-section button {
   aspect-ratio: 1/1;
   width: var(--px-40);
   font-size: var(--fs-2);
   padding: var(--px-8);
   border-radius: 4px;
   background-color: var(--gray-100);
   box-shadow: 1px 1px 1px var(--gray-200);
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
main.registrants .pagination .right-section button.active {
   background-color: var(--primary);
   color: var(--white);
}
/* ===== Footer style end ===== */
