/* agar ketengah */
.member-data,
.member-data > .content,
.member-data > .content .card .header .icon,
.table-container,
.table-container .footer,
.table-container table .kolom-3,
.table-container table .kolom-4,
.staff-online,
.staff-online .left-content .footer .online-indikator,
.staff-online .right-content tbody .kolom-1,
main {
   display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes slideDownFade {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

/* ===== Member Data style start ===== */
.member-data {
   width: 100%;
   flex-direction: column;
   gap: var(--px-48);

   > .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: var(--white);

      h1 {
         font-size: var(--fs-6);
         font-weight: 600;
      }

      a {
         padding: var(--px-12) var(--px-16);
         border-radius: 8px;
         background-color: var(--white);
         color: var(--secondary);
         font-size: var(--fs-2);
         font-weight: 500;
         transition: 0.3s ease-in-out;
      }
      a:hover {
         transform: scale(1.05);
      }
   }

   > .content {
      width: 100%;
      justify-content: space-between;

      .card {
         width: 17vw;
         height: fit-content;
         padding: var(--px-16);
         border-radius: var(--px-8);
         background-color: var(--white);
         box-shadow: 0px 2px 2px var(--gray-200);

         .header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            h1 {
               font-size: var(--fs-3);
               font-weight: 500;
               color: var(--gray-500);

               line-height: 1;
            }
            .icon {
               aspect-ratio: 1/1;
               width: var(--fs-6);
               height: var(--fs-6);
               border-radius: 4px;
            }
            .icon-style {
               width: var(--fs-3);
               height: var(--fs-3);
               color: var(--white);
            }
         }

         .main {
            width: 100%;
         }
         .main h1 {
            font-weight: 600;
            font-size: var(--fs-10);
            color: var(--gray-600);
            user-select: text;
         }
         .footer h1 {
            font-weight: 600;
            font-size: var(--fs-2);
            color: var(--gray-400);
         }
      }
   }

   .content .card .footer h1 span {
      color: var(--gray-300);
      font-weight: 400;
      font-size: var(--fs-1);
   }
   .content .card .header .users {
      background-color: var(--btn-save);
   }
   .content .card .header .tasks {
      background-color: var(--btn-info);
   }
   .content .card .header .briefcase {
      background-color: var(--secondary);
   }
}
/* ===== Member Data style end ===== */

/* ===== Table Data style start ===== */
.table-container {
   width: 100%;
   height: fit-content;
   flex-direction: column;
   align-items: flex-start;
   color: var(--gray-500);
   box-shadow: 1px 1px 1px var(--gray-200);
   border-radius: 8px;

   .header,
   .footer {
      width: 100%;
      height: var(--px-48);
   }
   .header h1 {
      font-size: var(--fs-4);
      font-weight: 500;
      color: var(--gray-500);
   }

   table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border: none;

      * {
         user-select: text;
      }
      thead {
         background-color: var(--gray-100);
      }

      tr {
         animation: slideDownFade 0.3s ease forwards;
      }
      th {
         font-size: var(--fs-1);
      }
      h1 {
         font-size: var(--fs-1);
         font-weight: 400;
         white-space: nowrap;
         margin: 0;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }

      th {
         height: var(--px-48);
      }
      td {
         height: var(--px-64);
      }
      th,
      td {
         font-weight: 500;
         padding: 0 var(--px-16);
      }

      th:nth-child(1),
      td:nth-child(1) {
         width: 40%;
         text-align: start;
      }
      th:nth-child(2),
      td:nth-child(2),
      th:nth-child(3),
      td:nth-child(3) {
         width: 17.5%;
         text-align: center;
         align-items: center;
      }
      th:nth-child(4),
      td:nth-child(4) {
         width: 25%;
      }

      .kolom-1 {
         max-width: 100%;
         display: flex;
         align-items: center;
         gap: var(--px-8);
      }
      .kolom-1 img {
         width: var(--px-48);
      }

      .kolom-3 .rate,
      .kolom-4 .button {
         width: min-content;
         font-size: var(--fs-0);
         padding: 0.25vw var(--px-16);
      }
      .kolom-3 .rate {
         border-radius: 2px;
      }
      .kolom-4 {
         gap: var(--px-8);
      }
      .kolom-4 .button {
         color: var(--gray-100);
         border-radius: 16px;
      }
   }

   .rate-low,
   .btn-member {
      background-color: var(--btn-save);
   }
   .rate-medium {
      background-color: var(--btn-warning);
   }
   .rate-high {
      background-color: var(--btn-danger);
   }
   .btn-edit {
      background-color: var(--btn-info);
   }
   .btn-view,
   .rate-isexist {
      background-color: var(--btn-neutral);
   }

   .footer {
      border-top: 1px solid var(--gray-100);
      font-size: var(--fs-2);
      color: var(--secondary);
      cursor: pointer;
   }
}
/* ===== Table Data style end ===== */

/* ===== Staff online style start ===== */
.staff-online {
   width: 100%;
   gap: var(--px-32);
   align-items: start;

   .left-content {
      width: 40%;
      border-radius: var(--px-12);
      box-shadow: 1px 1px 1px var(--gray-200);

      .online-list {
         width: 100%;
         min-height: 15vw;
         max-height: 15vw;
         overflow: auto;
         padding: var(--px-16) var(--px-40);
      }
      .online-list .user-online {
         width: 100%;
         padding: var(--px-12) 0;
         display: flex;
         justify-content: start;
         align-items: center;
         gap: var(--px-16);
         border-bottom: 1px solid var(--gray-200);
      }

      .online-list .user-online .position {
         flex: 1;
         text-align: center;
      }

      .footer {
         width: 100%;
         display: flex;
         justify-content: space-around;
         padding: var(--px-48) var(--px-64) var(--px-24) var(--px-64);

         .online-indikator {
            flex-direction: column;
         }
         .online-indikator img {
            aspect-ratio: 1/1;
            width: var(--px-32);
         }
         .online-indikator h1 {
            font-size: var(--fs-6);
            font-weight: 600;
            line-height: 2;
         }
         .online-indikator h2 {
            font-size: var(--fs-1);
            font-weight: 400;
            color: var(--gray-400);
         }
      }
   }

   .left-content .header,
   .right-content .header {
      width: 100%;
      padding: var(--px-8) var(--px-16);
      background-color: white;
      border-bottom: 1px solid var(--gray-100);
   }
   .left-content .header h1,
   .right-content .header h1 {
      font-size: var(--fs-3);
      font-weight: 500;
      color: var(--gray-500);
   }

   .left-content .online-list .user-online .photo,
   .right-content tbody .kolom-1 .photo {
      aspect-ratio: 1/1;
      min-width: var(--px-48);
      max-width: var(--px-48);
      border-radius: 100px;
      overflow: hidden;
   }
   .left-content .online-list .user-online .name h1,
   .left-content .online-list .user-online .position h1,
   .right-content .user-online .name h1 {
      font-size: var(--fs-0);
      font-weight: 400;
      color: var(--gray-600);
   }
   .left-content .online-list .user-online .name h2,
   .right-content .user-online .name h2 {
      font-size: var(--fs-0);
      font-weight: 400;
      color: var(--gray-300);
   }

   .right-content {
      flex: 1;
      border-radius: var(--px-12);
      box-shadow: 1px 1px 1px var(--gray-200);
      overflow: hidden;

      * {
         background-color: white;
      }
      table {
         table-layout: fixed;
         width: 100%;
         border-collapse: collapse;
         border: none;
      }
      thead {
         height: var(--px-40);
         font-size: var(--fs-1);
      }
      thead th {
         font-weight: 400;
         background-color: var(--gray-200);
      }
      thead th:nth-child(1) {
         width: 40%;
         padding-left: var(--px-16);
         text-align: start;
      }
      table td:nth-child(1) {
         min-width: 40%;
      }
      thead th:nth-child(2),
      table td:nth-child(2) {
         width: 35%;
         text-align: center;
      }
      thead th:nth-child(3),
      table td:nth-child(3) {
         width: 25%;
         text-align: center;
      }

      tbody .user-online {
         padding: var(--px-12) 0;
         height: var(--px-64);
      }
      tbody .user-online h1 {
         font-size: var(--fs-0);
         font-weight: 500;
         color: var(--gray-400);
      }

      tbody .kolom-1 {
         gap: var(--px-16);
      }
   }
}
/* ===== Staff online style end ===== */

/* ===== Pages style start ===== */
@media screen and (min-width: 1366px) {
   .mobile {
      display: none;
   }

   main {
      width: 100%;
      height: fit-content;
      flex-direction: column;
      gap: var(--px-64);
      padding: var(--px-32) var(--px-56);
   }
}

/* ===== Header style start ===== */
main .header {
   width: 100%;
   display: flex;
   justify-content: start;
   color: var(--white);
   padding: var(--px-8) 0;

   h1 {
      font-size: var(--fs-7);
      font-weight: 600;
   }
}
/* ===== Header style end ===== */

/* ===== Navigation style start ===== */
main .navigation {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: var(--px-16) 0;
   border-bottom: 1px solid var(--gray-100);

   .button {
      display: flex;
      justify-content: space-between;
      gap: var(--px-8);

      .btn {
         height: fit-content;
         padding: var(--px-8) var(--px-24);
         font-size: var(--fs-1);
         font-weight: 600;
         border-radius: 32px;
         color: var(--white);
         cursor: pointer;
         transition: 0.3s ease;
      }

      .btn:nth-child(1):hover,
      .btn:nth-child(2):hover,
      .btn:nth-child(3):hover {
         background-color: var(--gray-200);
      }
   }

   .button .btn:nth-child(1) {
      background-color: var(--btn-save);
   }
   .button .btn:nth-child(2) {
      background-color: var(--btn-info);
   }
   .button .btn:nth-child(3) {
      background-color: var(--btn-danger);
   }
   .button .btn.button-back {
      white-space: nowrap;
      background-color: var(--gray-500);
   }
   .button .btn.button-save {
      white-space: nowrap;
      background-color: var(--btn-save);
   }
   .button .btn.disable {
      background-color: var(--gray-200);
   }

   .search {
      width: 25%;
      height: var(--px-40);
      display: flex;
      justify-content: end;
      align-items: center;

      input {
         border-radius: var(--px-8);
         width: 100%;
         height: 100%;
         padding: var(--px-8) var(--px-16);
         font-size: var(--fs-1);
      }
      select {
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
         border-radius: var(--px-8);
         width: 100%;
         height: 100%;
         padding: var(--px-8) var(--px-16);
         font-size: var(--fs-1);
         text-align: center;
      }
   }

   .count {
      width: 30%;
      height: var(--px-40);
      display: flex;
      justify-content: end;
      align-items: center;
      gap: var(--px-8);

      label {
         font-size: var(--fs-4);
         color: var(--gray-100);
      }
      input {
         border-radius: var(--px-8);
         width: 15%;
         height: 100%;
         padding: var(--px-8) 0;
         font-size: var(--fs-3);
         text-align: center;
      }
      button {
         width: 15%;
         padding: var(--px-8) 0;
         border-radius: var(--px-8);
         font-size: var(--fs-2);
         cursor: pointer;
         background-color: var(--btn-info);
         color: var(--gray-100);
         font-weight: 600;
      }

      button:hover {
         background-color: var(--gray-200);
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }
   }
}
/* ===== Navigation style end ===== */

/* ===== Pagination style start ===== */
main .pagination {
   width: 100%;
   height: var(--px-64);
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid var(--gray-200);
   border-bottom: 1px solid var(--gray-200);

   .left-section {
      display: flex;
      gap: var(--px-16);

      button {
         font-size: var(--fs-2);
         padding: var(--px-8) var(--px-40);
         border-radius: 8px;
         background-color: var(--gray-100);
         box-shadow: 1px 1px 1px var(--gray-200);
         cursor: pointer;
         transition: 0.3s ease-in-out;
      }
   }

   .middle-section {
      display: flex;
      gap: var(--px-8);
      align-items: center;
      color: var(--gray-500);

      h1 {
         font-size: var(--fs-3);
         font-weight: 500;
      }
      .icon-style {
         width: var(--px-24);
         height: var(--px-24);
         transition: 0.3s ease-in-out;
         cursor: pointer;
      }
      .icon-style:hover {
         transform: scale(1.25);
      }
   }

   .right-section {
      display: flex;
      gap: 0.2vw;

      button {
         aspect-ratio: 1/1;
         width: var(--px-40);
         font-size: var(--fs-2);
         padding: var(--px-8);
         border-radius: 4px;
         background-color: var(--gray-100);
         box-shadow: 1px 1px 1px var(--gray-200);
         cursor: pointer;
         transition: 0.3s ease-in-out;
      }
      button.active {
         background-color: var(--primary);
         color: var(--white);
      }
   }

   .left-section button:hover,
   .right-section button:hover {
      background-color: var(--gray-200);
   }
}
/* ===== Pagination style end ===== */
/* ===== Pages style end ===== */
